@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

:root {
  --color-principal: rgb(245, 250, 246);
  --color-secundario: rgb(175, 185, 115);
  --color-terciario: rgb(255, 255, 255);
  --color-cuaternario: rgb(0, 0, 0);
  --color-quintario: #ff9e02;
  --titulares: 50px;
  --subtitulares: 30px;
  --texto: 20px;
  --texto-pequeño: 15px;
}

/* estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

/* estilos del nav */
nav {
  background-color: var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;

}
nav ul li a:hover {
  color: var(--color-principal);
  transition: 0.3s;
}
main header div span {
  color: var(--color-secundario);
  font-size: 40pxx;
}
/* estilos del header */
header {
  background-color: var(--color-principal);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
}
header img {
  border: 7px solid var(--color-secundario);
  border-radius: 50%;
}
header > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  gap: 15px;
}
header div > p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: justify;
}
main h2 {
  padding: 30px 30px 5px 20px;
}
/* estilos de la sección de portafolio */
.titulo {
  text-align: center;
  padding-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: var(--color-secundario);
  text-decoration-thickness: 4px;
}
.seccion-portafolio {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.portafolio-contenido {
  display: flex;
  flex-direction: row; /* Acomoda los elementos en una fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
}
.portafolio-contenido div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilos de la seccion servicios */
.seccion-servicios {
  background: var(--color-principal);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.servicios-contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.servicios-contenido div{
  background-color: var(--color-principal);
  border-radius: 10px;
  padding: 5px;
  text-align: justify;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.servicios-contenido div:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--color-secundario);
}
.seccion-servicios h2 {
  text-align: center;
  font-size: 30px;
}
.seccion-servicios h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;

}
.seccion-servicios p {
  margin-bottom: 15px;
}
/* Estilos generales para la sección de contacto */
.seccion-contacto {
  width: 60%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

}

/* Título de contacto */
.titulo-contacto h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #020202;
  margin-bottom: 20px;
}

/* Contenedor del formulario */
.formulario {
  background: rgb(175, 185, 115);
  padding: 20px;
  border-radius: 10px;
}

/* Título del formulario */
.titulo-formulario h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #070707;
  margin-bottom: 15px;
}

/* Estilos para los inputs */
.input {
  display: flex;
  align-items: center;
  background: #f1f1ef;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input i {
  font-size: 18px;
  margin-right: 10px;
  color:var(--color-terciarios);
}

.input input, .input textarea {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
}

textarea {
  resize: none;
  height: 80px;
}

/* Botón de envío */

.button {
  background: var(--color-secundario);
  color: var(--color-cuaternario);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.button:hover {
  background: var(--color-principal);
  color: var(--color-secundario);
  transform: scale(1.05);
}

/* estilos del footer */
footer {
  background-color: #afb973;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  text-align: center;
  color: rgb(2, 2, 2);
  font-size: 18px;

}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-cuaternario);
  padding: 10px 15px;
  border-radius: 7px;
  background: var (--color-principal);
  transition: 0.3s ease-in-out;

}
a:hover {
  background: var(--color-secundario);
  color: #fff;
}